{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if not request.user.is_authenticated %}
<main>
	{% block login %}
		{% include "pong/login.html" %}
	{% endblock login %}
</main>
	{% comment %}<main>
		<div class="container d-flex align-items-center justify-content-center vh-100">
			<div class="d-flex align-items-center justify-content-center">
				<div class="text-center col-8 bg-light border border-opacity-25 border-light bg-opacity-25 p-4 rounded shadow">
					<h1 class="mx-auto my-0 text-light">-.-.- play Pong .-.-.</h1>
					<form action="login/" method="POST" class="row gy-2 mt-4 d-flex align-items-center justify-content-center">
						{% csrf_token %}
						<div class="mb-1 col-8">
							<input type="username" class="form-control" id="username" name="username" placeholder="Username">
						</div>
						<div class="mb-1 col-8">
							<input type="password" class="form-control" id="password" name="password" placeholder="Password">
						</div>
						<div class="mb-1">
							<button type="submit" class="btn btn-dark text-light col-8">Sign in</button>
						</div>
					</form>
						<div class="mb-1">
							<p class="text-light">No account yet?
								<a class="text-light link-underline-light link-opacity-25-hover" href="#" data-bs-toggle="modal" data-bs-target="#signupModal">Sign up here.</a>
							</p>
						</div>
					<div class="d-flex align-items-center justify-content-center">
						<hr class="col-4">
						<span class="mx-2 text-light">or</span>
						<hr class="col-4">
					</div>
					<div class="mt-4 mb-3">
						<a href="https://api.intra.42.fr/oauth/authorize?client_id=u-s4t2ud-e89e69c5fe7f3faa8ee39b53cb83c81983bb16e02bbdac061730ad8f23b94cbf&redirect_uri=https%3A%2F%2Flocalhost%3A8000%2Foauth&response_type=code">
							<button type="submit" class="btn btn-dark text-light col-8">Log in with
									<img src="../static/images/42_Logo_white.svg.png" alt="Logo 42" style="height: 25px;">
							</button>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div id="ball"></div>
	</main>{% endcomment %}
{% else %}
<main class="vh-100">
	{% include 'pong/section_profile.html' %}
	<section id="dashboard" class="container" style="max-width: 750px">
		<div class="row">
			{% include 'pong/section_game.html' %}
			{% include 'pong/section_friends.html' %}
		</div>
	</section>
</main>
{% endif %}
{% endblock content %}
	{% comment %} SIGNUP MODAL {% endcomment %}
	{% comment %}<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content bg-dark-subtle shadow">
				<div class="modal-header">
					<h5 class="modal-title" id="signupModalLabel">Sign up</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form action="signup" method="POST" enctype="multipart/form-data">
						{% csrf_token %}
						<div class="mb-3">
							<label for="username" class="form-label">Username</label>
							<input type="text" class="form-control" id="username" name="username" value="">
						</div>
						<div class="mb-3">
							<label for="email" class="form-label">Email adress</label>
							<input type="text" class="form-control" id="email" name="email" value="">
						</div>
						<div class="mb-3">
							<label for="password" class="form-label">Password</label>
							<input type="password" class="form-control" id="password" name="password" value="">
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary">Submit</button>
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>{% endcomment %}
