{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Test</h1>
<div class="container d-flex align-items-center justify-content-center vh-100">
	<div class="d-flex align-items-center justify-content-center">
		<div class="text-center col-8 bg-light border border-opacity-50 border-light bg-opacity-25 p-4 rounded shadow">
			<h1 class="mx-auto my-0 text-light">-.-.- play Pong .-.-.</h1>
			<form method="post" class="row gy-2 mt-4 d-flex align-items-center justify-content-center">
				{% csrf_token %}
				<div class="mb-3">
					<label for="code" class="form-label">Code</label>
					<input type="number" class="form-control text-secondary" id="code" name="code">
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Verify</button>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div id="ball"></div>
{% endblock %}