.canvas {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
}

body {
	background: linear-gradient(180deg, #e4712e, #1490e2);
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
	font-family: 'Orbitron', sans-serif;
}

#ball {
  width: 20px;
	height: 20px;
	background-color: rgb(238, 229, 229);
	border-radius: 50%;
	position: absolute;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
/* Style pour rendre les dropdown menus de la navbar plus lisibles*/

.dropdown-menu .dropdown-item:hover {
  color: #000 !important;
  background-color: rgba(255, 255, 255, 0.5) !important;
}

/* Style pour custom la taille des boutons de friend requests */

.buttonfriends {
    height: 30px;
    width: 85px;
}

.buttonvalid {
    height: 30px;
    width: 40px;
}

/* Style pour les deux blocs game/friends */

.colSize {
   	height: 530px;
}

/* Animation pour les trois points d attente */
.dot {
	width: 10px;
	height: 10px;
	background-color: black;
	border-radius: 50%;
	opacity: 0.2;
	animation: fade 1.5s infinite;
  }
  
.dot:nth-child(3) {
	animation-delay: 1s;
  }
  
.dot:nth-child(2) {
	animation-delay: 0.5s;
  }
  
@keyframes fade {
	33% {
		opacity: 1;
	}
	0%, 100% {
	  opacity: 0.2;
	}
	66% {
		opacity: 0.2;
	}
  }
  
  /* Style pour les popovers */

  .custom-popover {
	max-width: 200px;
	border-color:#0d6efd;
	font-family: 'Orbitron', sans-serif;
	background-color: white;
  }
  
  .custom-popover .arrow::after {
	border-color: #0d6efd;
  }
  
  .custom-popover .popover-header {
	background: #0d6efd;
	color: white;
  }

  /* Animation pour les messages */

  @keyframes slideIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
  }

  @keyframes slideOut {
      0% {
          transform: translateX(0);
          opacity: 1;
      }
      100% {
          transform: translateX(100%);
          opacity: 0;
      }
  }

  /* Style pour le chrono */

  @import url(https://fonts.googleapis.com/css?family=Open+Sans:800);

  .countdown {
    margin: auto;
    width: 400px;
  }

  .path--background {
    fill: rgb(34, 213, 201);
    stroke: #fff;
    stroke-width: 0px;
  }
  
  .pulse {
    fill: rgb(255, 74, 74) !important;
  }
  
  .path--foreground {
    fill: #eee;
    stroke: #eee;
    stroke-width: 2px;
  }
  
  .label {
    font: 90px "Open Sans";
    font-weight: 900;
    text-anchor: middle;
    fill: rgb(34, 213, 201);
  }