.canvas {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
}

body {
	background: linear-gradient(180deg, #ff006a, #00ffdd);
	font-family: 'Orbitron', sans-serif;
}


.dropdown-menu .dropdown-item:hover {
	color: #000 !important; /* Change font color to dark */
	background-color: rgba(255, 255, 255, 0.5) !important; /* Change background color to semi-transparent white */
}

#ball {
	width: 20px;
	height: 20px;
	background-color: rgb(238, 229, 229);
	border-radius: 50%;
	position: absolute;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

