{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
	<div class="container d-flex align-items-center justify-content-center vh-100">
		<div class="d-flex align-items-center justify-content-center">
			<div class="text-center col-8 bg-light border border-opacity-50 border-light bg-opacity-25 p-4 rounded shadow">
				<h1 class="mx-auto my-0 text-light">-.-.- Sign up .-.-.</h1>
				<form action="{% url 'signup' %}" method="post" class="row gy-2 mt-4 d-flex align-items-center justify-content-center">
					{% csrf_token %}
					<div class="mb-1 col-8">
						<input type="username" class="form-control" id="username" name="username" value="{{ request.user.username }}" placeholder="Username">
					</div>
					<div class="mb-1 col-8">
						<input type="email" class="form-control" id="email" name="email" value="{{ request.user.email }}" placeholder="Email adress">
					</div>
					<div class="mb-1 col-8">
						<input type="password" class="form-control" id="password" name="password" value="{{ request.user.password }}" placeholder="Password">
					</div>
					<div class="mb-1">
						<button type="submit" class="btn btn-dark text-light col-8">Sign up</button>
					</div>
				</form>
				<!--<div class="d-flex align-items-center justify-content-center">
					<hr class="col-4">
					<span class="mx-2 text-light">or</span>
					<hr class="col-4">
				</div>
				<div class="mt-4 mb-3">
					<a href="https://api.intra.42.fr/oauth/authorize?client_id=u-s4t2ud-e89e69c5fe7f3faa8ee39b53cb83c81983bb16e02bbdac061730ad8f23b94cbf&redirect_uri=http%3A%2F%2Flocalhost%3A8000%2Foauth&response_type=code">
						<button type="submit" class="btn btn-dark text-light col-8">Log in with
								<img src="../static/images/42_Logo_white.svg.png" alt="Logo 42" style="height: 25px;">
						</button>
					</a>
				</div>-->
			</div>
		</div>
	</div>
</main>
{% endblock %}