<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}Pong{% endblock %}</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Orbitron">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Russo+One">
	<script src="../static/scripts/script.js" defer></script>
	<script src="../static/scripts/gameSelection.js" defer></script>
</head>
<body>
	<div class="container pe-3 col-4" style="position: fixed; top: 8%; right: 0; z-index: 9999;">
		{% if messages %}
			{% for message in messages %}
			<div  id="div-message" class="alert alert-warning bg-dark text-light border border-dark text-center shadow-lg" 
			role="alert" style="animation: slideIn 0.5s forwards;">
				{{ message }}
			</div>
			{% endfor %}
		{% endif %}
	</div>
	{% if not user.is_authenticated %}
	<header>
		<nav class="navbar navbar-expand-md navbar-dark fixed-top" id="mainNav">
			<div class="container px-2 px-lg-3">
				<h1 class="navbar-brand" href="#">ft_transcendance</h1>
				<button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
					<i class="fas fa-bars"></i>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ms-auto">
						<li class="nav-item">
							<div class="nav-link dropdown">
								<button class="btn bg-transparency text-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">About us</button>
								<ul class="dropdown-menu bg-light bg-opacity-25 shadow">
									<li><a class="dropdown-item text-light" href="https://profile.intra.42.fr/users/alibourb" target="_blank"><span><img src="../static/images/alibourb.jpg" alt="alibourb photo" class="rounded mx-2" style="height: 30px;"></span>alibourb</a></li>
									<li><a class="dropdown-item text-light" href="https://profile.intra.42.fr/users/bfiguet" target="_blank"><span><img src="../static/images/bfiguet.jpg" alt="bfiguet photo" class="rounded mx-2" style="height: 30px;"></span>bfiguet</a></li>
									<li><a class="dropdown-item text-light" href="https://profile.intra.42.fr/users/ekadiri" target="_blank"><span><img src="../static/images/ekadiri.jpg" alt="ekadiri photo" class="rounded mx-2" style="height: 30px;"></span>ekadiri</a></li>
									<li><a class="dropdown-item text-light" href="https://profile.intra.42.fr/users/jarthaud" target="_blank"><span><img src="../static/images/jarthaud.jpg" alt="jarthaud photo" class="rounded mx-2" style="height: 30px;"></span>jarthaud</a></li>
									<li><a class="dropdown-item text-light" href="https://profile.intra.42.fr/users/syakovle" target="_blank"><span><img src="../static/images/syakovle.jpg" alt="syakovle photo" class="rounded mx-2" style="height: 30px;"></span>jsyakovle</a></li>
								</ul>
							</div>
						</li>
						<li class="nav-item">
							<div class="nav-link dropdown">
								<button class="btn bg-transparency text-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
									Language
								</button>
								<ul class="dropdown-menu bg-light bg-opacity-25 shadow">
									<li><button class="dropdown-item text-light chooseLanguage active" aria-current="true" type="button"><span><img src="../static/images/gb.svg" alt="gb flag" class="rounded-1 mx-2" style="height: 15px;"></span>english</button></li>
									<li><button class="dropdown-item text-light chooseLanguage" type="button"><span><img src="../static/images/fr.svg" alt="fr flag" class="rounded-1 mx-2" style="height: 15px;"></span>français</button></li>
									<li><button class="dropdown-item text-light chooseLanguage" type="button"><span><img src="../static/images/es.svg" alt="sp flag" class="rounded-1 mx-2" style="height: 15px;"></span>español</button></li>
								</ul>
							</div>
						</li>
						<li class="nav-item">
							<div class="nav-link">
								<a class="btn bg-transparency text-light" type="button" href="https://en.wikipedia.org/wiki/Pong" target="_blank">Pong?</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<main>
		<div class="container d-flex align-items-center justify-content-center vh-100">
			<div class="d-flex align-items-center justify-content-center">
				<div class="text-center col-8 bg-light border border-opacity-25 border-light bg-opacity-25 p-4 rounded shadow">
					<h1 class="mx-auto my-0 text-light">-.-.- play Pong .-.-.</h1>
					<form action="sign_in" method="POST" class="row gy-2 mt-4 d-flex align-items-center justify-content-center">
						{% csrf_token %}
						<div class="mb-1 col-8">
							<input type="username" class="form-control" id="username" name="username" placeholder="Username">
						</div>
						<div class="mb-1 col-8">
							<input type="password" class="form-control" id="password" name="password" placeholder="Password">
						</div>
						<div class="mb-1">
							<button type="submit" class="btn btn-dark text-light col-8">Sign in</button>
						</div>
					</form>
						<div class="mb-1">
							<p class="text-light">No account yet?
								<a class="text-light link-underline-light link-opacity-25-hover" href="#" data-bs-toggle="modal" data-bs-target="#signupModal">Sign up here.</a>
							</p>
						</div>
					<div class="d-flex align-items-center justify-content-center">
						<hr class="col-4">
						<span class="mx-2 text-light">or</span>
						<hr class="col-4">
					</div>
					<div class="mt-4 mb-3">
						<a href="https://api.intra.42.fr/oauth/authorize?client_id=u-s4t2ud-e89e69c5fe7f3faa8ee39b53cb83c81983bb16e02bbdac061730ad8f23b94cbf&redirect_uri=https%3A%2F%2Flocalhost%3A8000%2Foauth&response_type=code">
							<button type="submit" class="btn btn-dark text-light col-8">Log in with
									<img src="../static/images/42_Logo_white.svg.png" alt="Logo 42" style="height: 25px;">
							</button>
						</a>
					</div>
				</div>
			</div>
		</div>
	</main>
	<div id="ball"></div>
	{% else %}
	<header>
		<nav class="navbar navbar-expand-md navbar-dark fixed-top" id="mainNav">
			<div class="container px-2 px-lg-3">
				<h1 class="navbar-brand" href="#">ft_transcendance</h1>
				<button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
					<i class="fas fa-bars"></i>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ms-auto">
						<li class="nav-item">
							<div class="nav-link dropdown">
								<button class="pe-0 btn bg-transparency text-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
									Language
								</button>
								<ul class="dropdown-menu bg-light bg-opacity-50 shadow">
									<li><button class="dropdown-item text-light chooseLanguage active" aria-current="true" type="button"><span><img src="../static/images/gb.svg" alt="gb flag" class="rounded-1 mx-2" style="height: 15px;"></span>english</button></li>
									<li><button class="dropdown-item text-light chooseLanguage" type="button"><span><img src="../static/images/fr.svg" alt="fr flag" class="rounded-1 mx-2" style="height: 15px;"></span>français</button></li>
									<li><button class="dropdown-item text-light chooseLanguage" type="button"><span><img src="../static/images/es.svg" alt="sp flag" class="rounded-1 mx-2" style="height: 15px;"></span>español</button></li>
								</ul>
							</div>
						</li>
						<li class="nav-item">
							<div class="nav-link">
								<a class="pe-0 btn bg-transparency text-light" type="button" href="logout/">Logout</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<main class="vh-100">
		<section id="profile" class="mt-5 pt-5 pb-4 container mx-auto" style="max-width : 750px">
			<div class="bg-light text-center border border-light border-opacity-25 bg-opacity-25 rounded shadow text-light">
				<div class="col mb-2 ">
					<h2 class="text-light my-3">Welcome {{ username }} !</h2>
					<img class="rounded-circle shadow-lg" src="{{ avatar }}" alt="User avatar" style="width: 60px; height: 60px;">
				</div>
				<div class="col mb-2">
					<a class="btn btn-sm text-light" href="#" data-bs-toggle="modal" data-bs-target="#profileModal">
						edit profile
						<i class="bi bi-pencil-fill ms-1"></i>
					</a>
				</div>
			</div>
		</section>
		<section id="dashboard" class="container" style="max-width: 750px">
			<div class="row">
				<div class="col mb-3 mx-auto">
					<div class="colSize p-3 bg-light border border-light border-opacity-25 bg-opacity-25 rounded shadow text-light">
						<h2 class="mb-4">Game</h2>
						<div class="mb-4">
							<div class="ms-3 d-flex align-items-center fw-bold">
								<h5>Results<i class="bi bi-trophy ms-2"></i></h5>
							</div>
							<hr class="col-10 mt-0 mb-3 mx-auto">
							<div style="height: 130px;" class="overflow-auto">
								<div class="col-10 bg-white bg-opacity-25 p-3 mb-2 rounded shadow-sm mx-auto" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#resultsModal">
									<div class="row align-items-center">
										<div class="col-5">
											<div class="d-flex align-items-center">
												<p class="fw-lighter m-0">won ({{ stats.won }})</p>
											</div>
										</div>
										<div class="col-7">
											<div class="progress" data-bs-toggle="tooltip" title="{{ stats.wp }}% of matches won">
												<div class="progress-bar bg-primary" role="progressbar" style="width: {{ stats.wp }}%" aria-valuenow="{{ stats.wp }}" aria-valuemin="0" aria-valuemax="100">{{ stats.wp }}%</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-10 bg-white bg-opacity-25 p-3 mb-2 rounded shadow-sm mx-auto" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#resultsModal">
									<div class="row align-items-center">
										<div class="col-5" >
											<div class="d-flex align-items-center">
												<p class="fw-lighter m-0">lost ({{ stats.lost }})</p>
											</div>
										</div>
										<div class="col-7">
											<div class="progress" data-bs-toggle="tooltip" title="{{ stats.lp }}% of matches lost">
												<div class="progress-bar bg-danger" role="progressbar" style="width: {{ stats.lp }}%" aria-valuenow="{{ stats.lp }}" aria-valuemin="0" aria-valuemax="100">{{ stats.lp }}%</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div style="height: 100px;">
							<h5 class="ms-3">Play<i class="bi bi-joystick ms-2"></i></h5>
							<hr class="col-10 mt-0 mb-2 mx-auto">
							<div id="playDiv" style="height: 170px; display: flex; flex-direction: column; justify-content: center;" class="col-10 bg-white bg-opacity-25 p-1 rounded shadow-sm mx-auto mt-3 mb-2">
								<div class="mt-3 mb-3 text-center text-light">
									Choose a format:
								</div>
								<div class="mb-3 text-center">
									<button id="playSingle" class="btn btn-dark btn-sm shadow-sm text-light col-8 mb-2">match 1v1</button>
									<button id="playTournament" class="btn btn-dark btn-sm shadow-sm text-light col-8 mb-3">tournament</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col mb-3 mx-auto">
					<div class="colSize p-3 bg-light border border-light border-opacity-25 bg-opacity-25 rounded shadow text-light">
						<h2 class="mb-4">Friends</h2>
						<div class="mb-4">
							<div class="ms-3 mt-3 d-flex align-items-center">
								<h5>Friends<i class="bi bi-people-fill ms-2"></i></h5>
							</div>
							<hr class="col-10 mt-0 mb-3 mx-auto">
							{% if friends|length == 0 %}
								<p class="ms-5">No friends yet</p>
							{% else %}
							<ul class="list-unstyled overflow-auto" style="height: 130px;">
							{% for friend in friends %}
								<li class="mb-2">
									<div class="d-flex justify-content-between align-items-center col-10 bg-white bg-opacity-25 mb-2 rounded shadow-sm mx-auto p-3">
										<div class="d-flex align-items-center">
											<img class="rounded-circle me-2 border border-2 border-success" src="{{ friend.avatar.url }}" alt="Friend avatar" style="width: 35px; height: 35px;">
											<div style="max-width: 7ch; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
												{{ friend.username }}
											</div>
										</div>
										<button class="btn buttonfriends btn-sm btn-dark shadow-sm" style="--bs-btn-font-size: .75rem;"
										data-bs-toggle="modal" data-bs-target="#friendsProfile">
										profile
										</button>
									</div>
								</li>
								<div class="modal fade" id="friendsProfile" tabindex="-1" aria-labelledby="friendsProfileLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content bg-dark-subtle shadow">
											<div class="modal-header">
												<h5 class="modal-title" id="friendsProfileLabel">Profile</h5>
												<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
											</div>
											<div class="modal-body">
												{% url 'friend_match' friend_username=friend.username %}
												<div>
													<ul class="list-unstyled">
														{% if matches|length == 0 %}
															<p>No matches</p>
														{% endif %}
														{% for match in matches %}
															<li class="d-flex flex-column text-align-center">
																{% if match.result == "Win" %}
																	<p class="mb-1"><span class="bg-primary p-1 rounded-1 text-light shadow-sm px-2">win</span>
																	vs <span class="bg-white bg-opacity-50 p-1 rounded-1 text-dark shadow-sm px-2">{{ match.opponent_name }}</span>
																	({{ match.user_score }} - {{ match.opponent_score }})</p>
																	<p class="ms-3 fw-light text-dark text-opacity-75">played on {{ match.time }}</p>
							
																{% elif match.result == "Loss" %}
																	<p class="mb-1"><span class="bg-danger p-1 rounded-1 text-light shadow-sm px-2">loss</span>
																	vs <span class="bg-white bg-opacity-50 p-1 rounded-1 text-dark shadow-sm px-2">{{ match.opponent_name }}</span>
																	({{ match.user_score }} - {{ match.opponent_score }})</p>
																	<p class="ms-3 fw-light text-dark text-opacity-75">played on {{ match.time }}</p>
																{%endif%}
															</li>
														{% endfor %}
													</ul>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
							</ul>
							{% endif %}
						</div>
						<div class="mb-4">
							<div class="ms-3 d-flex align-items-center">
								<h5>Users<i class="bi bi-people ms-2"></i></h5>
							</div>
							<hr class="col-10 mt-0 mb-3 mx-auto">
							<ul class="list-unstyled overflow-auto" >
								{% for user in users %}
									{% if user not in friends %}
									<li>
										<div class="d-flex justify-content-between align-items-center col-10 bg-white bg-opacity-25 p-3 mb-2 rounded shadow-sm mx-auto">
											<div class="d-flex align-items-center">
												<img class="rounded-circle me-2" src="{{ user.avatar.url }}" alt="" style="width: 35px; height: 35px;">
												<div style="max-width: 7ch; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
													{{ user.username }}
												</div>
											</div>
											{% if user.username in invites %}
											<form action="handle_invite" method="POST">
												{% csrf_token %}
												<input type="hidden" name="invite" value="{{ user.username }}">
												<button type="submit" name="status" value="accepted" class="btn buttonvalid px-2 btn-sm btn-primary shadow-sm"
												style="--bs-btn-font-size: .75rem;"><i class="bi bi-check-square"></i></button>
												<button type="submit" name="status" value="declined" class="px-2 buttonvalid btn btn-sm btn-danger shadow-sm"
												style="--bs-btn-font-size: .75rem;"><i class="bi bi-x-square"></i></button>
											</form>
											{% elif user.username in invitees %}
											<button class="btn buttonfriends btn-sm btn-primary shadow-sm" disabled
											style="--bs-btn-font-size: .75rem;">pending</button>
											{% else %}
											<form action="send_invite" method="POST">
												{% csrf_token %}
												<input type="hidden" name="receiver" value="{{ user.username }}">
												<button class="btn buttonfriends btn-sm btn-primary shadow-sm" type="submit"
												style="--bs-btn-font-size: .75rem;">add friend</button>
											</form>
											{% endif %}
										</div>
									</li>
									{% endif %}
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	{% endif %}
	{% comment %} MODALE POUR AFFICHER LE SIGN UP {% endcomment %}
	<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content bg-dark-subtle shadow">
				<div class="modal-header">
					<h5 class="modal-title" id="signupModalLabel">Sign up</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form action="register" method="POST" enctype="multipart/form-data">
						{% csrf_token %}
						<div class="mb-3">
							<label for="username" class="form-label">Username</label>
							<input type="text" class="form-control" id="username" name="username" value="">
						</div>
						<div class="mb-3">
							<label for="email" class="form-label">Email adress</label>
							<input type="text" class="form-control" id="email" name="email" value="">
						</div>
						<div class="mb-3">
							<label for="password" class="form-label">Password</label>
							<input type="password" class="form-control" id="password" name="password" value="">
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary">Submit</button>
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	{% comment %} MODALE POUR EDITER LE USER PROFILE {% endcomment %}
	<div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content bg-dark-subtle shadow">
				<div class="modal-header">
					<h5 class="modal-title" id="profileModalLabel">Update profile</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form action="update_profile" method="POST" enctype="multipart/form-data">
						{% csrf_token %}
						<div class="mb-3">
							<label for="username" class="form-label">Username</label>
							<input type="text" class="form-control text-secondary" id="username" name="username" value="{{ request.user.username }}">
						</div>
						<div class="mb-3">
							<label for="profile_picture" class="form-label">Profile Picture</label>
							<input type="file" class="form-control text-secondary" id="profile_picture" name="profile_picture">
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary">Save Changes</button>
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	{% comment %} MODALE POUR AFFICHER LE PROFILE DU FRIEND {% endcomment %}
	
	{% comment %} MODALE POUR LE JEU LOCAL {% endcomment %}
	<div class="modal fade" id="localMatchModal" tabindex="-1" aria-labelledby="localMatchModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="min-width: 700px;">
			<div class="modal-content bg-dark-subtle shadow">
				<div class="modal-header">
					<h5 class="modal-title" id="localMatchModalLabel">local match</h5>
					<button type="button" class="btn-close closeRefresh" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div id="formViewLocal">
						<form id="localMatchForm" class="row my-4 d-flex align-items-center justify-content-center">
							{% csrf_token %}
							<div class="col-7">
								<input type="text" class="form-control" id="local_player2_name" name="local_player2_name" placeholder="Choose an alias for your opponent">
							</div>
							<button type="submit" id="startLocalGameBtn" class="btn btn-primary col-2 shadow-sm">Start</button>
						</form>
					</div>
					<div id="gameViewLocal" style="display: none;">
						<div class="canvas" width="600" height="600">
							<canvas id="CanvasLocal" width="600" height="600"></canvas>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary closeRefresh" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	{% comment %} MODALE POUR LE JEU ONLINE {% endcomment %}
	<div class="modal fade" id="onlineMatchModal" tabindex="-1" aria-labelledby="matchModal" aria-hidden="true">
		<div class="modal-dialog" style="min-width: 700px;">
			<div class="modal-content bg-dark-subtle shadow">
				<div class="modal-header">
					<h5 class="modal-title" id="matchModalLabel">Online match</h5>
					<button type="button" class="btn-close closeRefresh" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div id="waitViewOnline" class="d-flex justify-content-center align-items-center my-5">
						<p class="my-auto me-2">Waiting for an opponent</p>
						<div class="dot"></div>
						<div class="dot"></div>
						<div class="dot"></div>
					</div>
					<div id="gameViewOnline" style="display: none;">
						<div class="canvas" width="600" height="600">
							<canvas id="CanvasOnline" width="600" height="600"></canvas>
							<script>
								var pongScript;
								document.addEventListener('DOMContentLoaded', function() {
									var canvasModal = document.getElementById('onlineMatchModal');
									
									canvasModal.addEventListener('show.bs.modal', function () {
										console.log('ONLINE');
										pongScript = document.createElement('script');
										pongScript.src = '../static/scripts/pongonline.js';
										pongScript.defer = true;
										document.body.appendChild(pongScript);
										has_opponent = false;
									});
									canvasModal.addEventListener('hidden.bs.modal', function () {
										if (pongScript) {
											document.body.removeChild(pongScript);
											pongScript = null;
											// stopPongGame(); 
										}
									});
								});
							</script>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary closeRefresh" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	{% comment %} MODALE POUR LE TOURNAMENT LOCAL {% endcomment %}
	<div class="modal fade" id="localTournament" tabindex="-1" aria-labelledby="tourModalLabel" aria-hidden="true">
		<div class="modal-dialog tourModal" >
			<div class="modal-content bg-dark-subtle shadow">
				<div class="modal-header">
					<h5 class="modal-title" id="tourModalLabel">Play a local tournament</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body d-flex justify-content-center align-items-center">
					<div class="canvas" width="600" height="600">
						<canvas id="CanvasTourLocal" width="600" height="600"></canvas>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	{% comment %} MODALE POUR LE TOURNAMENT ONLINE {% endcomment %}
	<div class="modal fade" id="onlineTournament" tabindex="-1" aria-labelledby="tourModalLabel" aria-hidden="true">
		<div class="modal-dialog tourModal" >
			<div class="modal-content bg-dark-subtle shadow">
				<div class="modal-header">
					<h5 class="modal-title" id="tourModalLabel">Play an online tournament</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body d-flex justify-content-center align-items-center">
					<div class="canvas" width="600" height="600">
						<canvas id="CanvasTourOnline" width="600" height="600"></canvas>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>


	<div class="modal fade" id="resultsModal" tabindex="-1" aria-labelledby="resultsModalLabel" aria-hidden="true">
		<div class="modal-dialog resultsModal" >
			<div class="modal-content bg-dark-subtle shadow">
				<div class="modal-header">
					<h5 class="modal-title" id="resultsModalLabel">Match history</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body ms-5 overflow-auto" style="height: 200px;">
					<div>
						<ul class="list-unstyled">
							{% if matches|length == 0 %}
								<p>No matches</p>
							{% endif %}
							{% for match in matches %}
								<li class="d-flex flex-column text-align-center">
									{% if match.result == "Win" %}
										<p class="mb-1"><span class="bg-primary p-1 rounded-1 text-light shadow-sm px-2">win</span>
										vs <span class="bg-white bg-opacity-50 p-1 rounded-1 text-dark shadow-sm px-2">{{ match.opponent_name }}</span>
										({{ match.user_score }} - {{ match.opponent_score }})</p>
										<p class="ms-3 fw-light text-dark text-opacity-75">played on {{ match.time }}</p>

									{% elif match.result == "Loss" %}
										<p class="mb-1"><span class="bg-danger p-1 rounded-1 text-light shadow-sm px-2">loss</span>
										vs <span class="bg-white bg-opacity-50 p-1 rounded-1 text-dark shadow-sm px-2">{{ match.opponent_name }}</span>
										({{ match.user_score }} - {{ match.opponent_score }})</p>
										<p class="ms-3 fw-light text-dark text-opacity-75">played on {{ match.time }}</p>
									{%endif%}
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	{% comment %} MODALE POUR 2FA {% endcomment %}
	{% comment %}<div class="modal fade" id="doubleFa" tabindex="-1" aria-labelledby="doubleFa" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content bg-dark-subtle shadow">
				<div class="modal-header">
					<h5 class="modal-title" id="doubleFa">Double Factor Authenticate</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form action="verify_view" method="POST" autocomplete="off" >
						{% csrf_token %}
						<div class="mb-3">
							<label for="code" class="form-label">Code</label>
							<input type="number" class="form-control text-secondary" id="code" name="code">
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary">Verify</button>
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>{% endcomment %}
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
