{% comment %} MODALE POUR LE TOURNAMENT LOCAL {% endcomment %}
<div class="modal fade" id="localTournament" tabindex="-1" aria-labelledby="tourModalLabel" aria-hidden="true">
	<div class="modal-dialog tourModal" style="min-width: 700px;">
		<div class="modal-content bg-dark-subtle shadow">
			<div class="modal-header">
				<h5 class="modal-title" id="tourModalLabel">Play a local tournament</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body d-flex justify-content-center align-items-center">
				<div class="canvas" width="600" height="600">
					<canvas id="CanvasTourLocal" width="600" height="600"></canvas>
					<script>
						var pongScript;
						document.addEventListener('DOMContentLoaded', function() {
							var canvasModal = document.getElementById('localTournament');

							canvasModal.addEventListener('show.bs.modal', function () {
								console.log('ONLINE');
								pongScript = document.createElement('script');
								pongScript.src = '../static/scripts/pongtournamentlocal.js';
								pongScript.defer = true;
								document.body.appendChild(pongScript);
							});
							canvasModal.addEventListener('hidden.bs.modal', function () {
								if (pongScript) {
									document.body.removeChild(pongScript);
									pongScript = null;
									// stopPongGame(); 
								}
							});
						});
					</script>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
{% comment %} MODALE POUR LE TOURNAMENT ONLINE {% endcomment %}
<div class="modal fade" id="onlineTournament" tabindex="-1" aria-labelledby="tourModalLabel" aria-hidden="true">
	<div class="modal-dialog tourModal" style="min-width: 700px;">
		<div class="modal-content bg-dark-subtle shadow">
			<div class="modal-header">
				<h5 class="modal-title" id="tourModalLabel">Online tournament</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<!-- <div id="formViewOnlineTour">
					<form id="onlineTourForm" class="row my-4 d-flex align-items-center justify-content-center">
						{% csrf_token %}
						<div class="col-7">
							<input type="text" class="form-control" id="onlineTourName" name="onlineTourName" placeholder="Choose a name for the Tournament">
						</div>
						<button type="submit" id="startOnlineTourBtn" class="btn btn-primary col-2 shadow-sm">Start</button>
					</form>
				</div> -->
				<div id="waitViewOnlineTour" class="my-5" style="display: none">
					<div class="my-5 d-flex flex-column align-items-center justify-content-center">
						<div class="d-flex justify-content-center align-items-center mb-3">
							<h6 class="my-auto me-2">Waiting for opponents to connect</h6>
							<div class="dot"></div>
							<div class="dot"></div>
							<div class="dot"></div>
						</div>
						<div class="bg-dark border rounded col-3 shadow d-flex align-items-center" style="height: 100px; width: 100px;">
							<h1 class="text-light text-center m-auto" id="countdown">10</h1>
						</div>
					</div>
				</div>
				<div id="playViewOnlineTour" style="display: block">
					<div class="canvas" width="600" height="600">
						<canvas id="CanvasTourOnline" width="600" height="600"></canvas>
						<script>
							var pongScript;
							document.addEventListener('DOMContentLoaded', function() {
								var canvasModal = document.getElementById('onlineTournament');

								canvasModal.addEventListener('show.bs.modal', function () {
									console.log('ONLINE');
									pongScript = document.createElement('script');
									pongScript.src = '../static/scripts/pongtournamentonline.js';
									pongScript.defer = true;
									document.body.appendChild(pongScript);
								});
								canvasModal.addEventListener('hidden.bs.modal', function () {
									if (pongScript) {
										document.body.removeChild(pongScript);
										pongScript = null;
										// stopPongGame(); 
									}
								});
							});
						</script>
					</div>
				</div>
				<div id="drawViewOnlineTour" style="display: none">
					<div class="d-flex flex-row me-3 overflow-auto" style="height: 600px">

					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
