<div class="col mb-3 mx-auto">
    <div class="colSize p-3 bg-light border border-light border-opacity-25 bg-opacity-25 rounded shadow text-light">
        <h2 class="mb-4">Friends</h2>
        <div class="mb-4">
            <div class="ms-3 mt-3 d-flex align-items-center">
                <h5>Friends<i class="bi bi-people-fill ms-2"></i></h5>
            </div>
            <hr class="col-10 mt-0 mb-3 mx-auto">
            <ul class="list-unstyled overflow-auto" style="height: 130px;">
                {% if friends|length == 0 %}
                    <p class="ms-5">No friends yet</p>
                {% endif %}
                {% for friend in friends.friends %}
                    <li class="mb-2">
                        <div class="d-flex justify-content-between align-items-center col-10 bg-white bg-opacity-25 mb-2 rounded shadow-sm mx-auto p-3">
                            <div class="d-flex align-items-center">
                                <div class="position-relative">
                                    <img class="rounded-circle me-2" src="{{ friend.avatar.url }}" alt="Friend avatar" style="width: 35px; height: 35px;">
                                    <div class="position-absolute top-0 end-1" style="width: 10px; height: 10px; background-color: rgb(46, 206, 86); border-radius: 50%;"></div>
                                </div>
                                <div style="max-width: 7ch; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                    {{ friend.user.first_name }}
                                </div>
                            </div>
                            <button class="btn buttonfriends btn-sm btn-dark shadow-sm" style="--bs-btn-font-size: .75rem;"
                            data-bs-toggle="modal" data-bs-target="#friendsProfile">
                            profile
                            </button>
                        </div>
                    </li>
                    <div class="modal fade" id="friendsProfile" tabindex="-1" aria-labelledby="friendsProfileLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content bg-dark-subtle shadow">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="friendsProfileLabel">Profile</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <!-- <a href="{% url 'match_stats_friends' %}?username={{ friend.user.first_name }}"> -->
                                    <div>
                                        <ul class="list-unstyled">
                                            {% if matches|length == 0 %}
                                                <p>No matches</p>
                                            {% endif %}
                                            {% for match in matches %}
                                                <li class="d-flex flex-column text-align-center">
                                                    {% if match.result == "Win" %}
                                                        <p class="mb-1"><span class="bg-primary p-1 rounded-1 text-light shadow-sm px-2">win</span>
                                                        vs <span class="bg-white bg-opacity-50 p-1 rounded-1 text-dark shadow-sm px-2">{{ match.opponent_name }}</span>
                                                        ({{ match.user_score }} - {{ match.opponent_score }})</p>
                                                        <p class="ms-3 fw-light text-dark text-opacity-75">played on {{ match.time }}</p>
                
                                                    {% elif match.result == "Loss" %}
                                                        <p class="mb-1"><span class="bg-danger p-1 rounded-1 text-light shadow-sm px-2">loss</span>
                                                        vs <span class="bg-white bg-opacity-50 p-1 rounded-1 text-dark shadow-sm px-2">{{ match.opponent_name }}</span>
                                                        ({{ match.user_score }} - {{ match.opponent_score }})</p>
                                                        <p class="ms-3 fw-light text-dark text-opacity-75">played on {{ match.time }}</p>
                                                    {%endif%}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </ul>
        </div>
        <div class="mb-4">
            <div class="ms-3 d-flex align-items-center">
                <h5>Users<i class="bi bi-people ms-2"></i></h5>
            </div>
            <hr class="col-10 mt-0 mb-3 mx-auto">
            <ul class="list-unstyled overflow-auto" style="height: 175px;">
                {% for user in users %}
                    {% if user not in friends.friends %}
                    <li>
                        <div class="d-flex justify-content-between align-items-center col-10 bg-white bg-opacity-25 p-3 mb-2 rounded shadow-sm mx-auto">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle me-2" src="{{ user.avatar.url }}" alt="" style="width: 35px; height: 35px;">
                                <div style="max-width: 7ch; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                    {{ user.user.first_name }}
                                </div>
                            </div>
                            {% if user.user.first_name in friends.invites %}
                            <form action="handle_invite" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="invite" value="{{ user.user.first_name }}">
                                <button type="submit" name="status" value="accepted" class="btn buttonvalid px-2 btn-sm btn-primary shadow-sm"
                                style="--bs-btn-font-size: .75rem;"><i class="bi bi-check-square"></i></button>
                                <button type="submit" name="status" value="declined" class="px-2 buttonvalid btn btn-sm btn-danger shadow-sm"
                                style="--bs-btn-font-size: .75rem;"><i class="bi bi-x-square"></i></button>
                            </form>
                            {% elif user.user.first_name in friends.invitees %}
                            <button class="btn buttonfriends btn-sm btn-primary shadow-sm" disabled
                            style="--bs-btn-font-size: .75rem;">pending</button>
                            {% else %}
                            <form action="send_invite" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="receiver" value="{{ user.user.first_name }}">
                                <button class="btn buttonfriends btn-sm btn-primary shadow-sm" type="submit"
                                style="--bs-btn-font-size: .75rem;">add friend</button>
                            </form>
                            {% endif %}
                        </div>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>