.canvas {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
}

body {
	background: linear-gradient(180deg, #e4712e, #1490e2);
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
	font-family: 'Orbitron', sans-serif;
}

.dropdown-menu .dropdown-item:hover {
	color: #000 !important; /* Change font color to dark */
	background-color: rgba(255, 255, 255, 0.5) !important; /* Change background color to semi-transparent white */
}

#ball {
	width: 20px;
	height: 20px;
	background-color: rgb(238, 229, 229);
	border-radius: 50%;
	position: absolute;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.buttonfriends {
    height: 30px;
    width: 85px;
}

.buttonvalid {
    height: 30px;
    width: 40px;
}

.colSize {
   	height: 530px;
}

.dot {
	width: 10px;
	height: 10px;
	background-color: black;
	border-radius: 50%;
	opacity: 0.2;
	animation: fade 1.5s infinite;
  }
  
.dot:nth-child(3) {
	animation-delay: 1s;
  }
  
.dot:nth-child(2) {
	animation-delay: 0.5s;
  }
  
@keyframes fade {
	33% {
		opacity: 1;
	}
	0%, 100% {
	  opacity: 0.2;
	}
	66% {
		opacity: 0.2;
	}
  }
  
  .custom-popover {
	max-width: 200px;
	border-color:#0d6efd;
	font-family: 'Orbitron', sans-serif;
	background-color: white;
  }
  
  .custom-popover .arrow::after {
	border-color: #0d6efd;
  }
  
  .custom-popover .popover-header {
	background: #0d6efd;
	color: white;
  }

  @keyframes slideIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}